<configuration>
  <appSettings>
    <!-- All appSettings are made available to Node.js app via environment variables. -->
    <add key="NODE_ENV" value="production" />
    <add key="LOG_LEVEL" value="info" />
  </appSettings>
  <system.webServer>
      <!-- https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config -->
    <iisnode
      devErrorsEnabled="false"
      logDirectory="log\iisnode"
    />
    <handlers>
      <add name="Javascript" path="*.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="storage-node" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <action type="Rewrite" url="./storage-node.js" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
